.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    padding: 30px;
    border-right: 1px solid var(--separator-color);
    display: flex;
    flex-direction: column;
}

.exit {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.img-exit {
    width: 20%;
}

.img-icon {
    width: 20%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.link {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: var(--text-color);
}
.link:hover {
    color: var(--primary-color);
}

.user {
    margin-bottom: 46px;
}

.active {
    color: var(--primary-color);
}

.avatar {
    margin-left: 30px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
    display: flex;
}

.name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color);
}

.email {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9EA1B1;
}

.content {
    padding: 40px 60px;
    width: 100%;
}


.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.count-cart {
    --size: 30px;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 400;
    width: var(--size);
    height: var(--size);
    background-color: var(--primary-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}